@model SportsStore.Domain.Entities.Product

<div class="panel panel-primary">
    <div class="panel-heading"><strong>@Model.Name</strong></div>
    <div class="panel-body">
        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post, new { @id="Id_"+Model.ProductID}))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.ProductID)    
            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)        
            <div class="row">
                @{ var style = "col-md-12"; }
                @if (Model.ImageData != null && Model.ImageData.Length > 0)
                {
                    style = "col-md-10";
                    <div class="col-md-2">
                        <img class="img-thumbnail img-responsive img-rounded" width="150" height="150" src="@Url.Action("GetImage", "Product", new { Model.ProductID} )" />                                          
                    </div>
                }
                <div class="@style">
                    @Model.Description
                    <br/>
                    <p class="text-left"><strong>$@Model.Price</strong></p>
                </div>
            </div>
            <div class="row">
                <div class = "col-md-12 text-right">
                    <button type="submit" form="Id_@Model.ProductID" class="btn btn-primary">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart
                    </button>
                </div>
            </div>
        }
    </div>
</div>
