@model SportsStore.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["errosmessage"] != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>@TempData["errosmessage"]</strong>
    </div>
}
<div class="panel-group panel-signin">
    <div class="panel panel-primary">  
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-log-in"></span> Please sign in</strong></div>  
        <div class="panel-body">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-horizontal form-signin", @role = "form"}))
            {
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.EditorFor(model => model.UserName, new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @placeholder = Html.DisplayNameFor(model => model.UserName).ToHtmlString()
                        }
                    })
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    @Html.EditorFor(model => model.Password, new 
                    { 
                        htmlAttributes = new 
                        { 
                            @class = "form-control",   
                            @placeholder = Html.DisplayNameFor(model => model.Password).ToHtmlString()
                        } 
                    })
                </div>
                <div class="form-submit" >
                    <input type="submit" value="Sign In" class="btn btn-lg btn-primary" />                
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


