@model SportsStore.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "Sports Store: Your Cart";
}

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-shopping-cart"></span> Your cart</strong></div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center col-md-1">Quantity</th>
                        <th class="text-center col-md-3">Item</th>
                        <th class="text-left col-md-6">Price</th>
                        <th class="text-center col-md-2">Subtotal</th>
                        <th class="text-center col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr class="text-center">
                            <td>@line.Quantity</td>
                            <td>@line.Product.Name</td>
                            <td class="text-left">@line.Product.Price.ToString("c")</td>
                            <td>@((line.Quantity * line.Product.Price).ToString("c"))</td>
                            <td>
                                @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post, new { @id = "Id_" + line.Product.ProductID })) 
                                {
                                    @Html.Hidden("productId", line.Product.ProductID)
                                    @Html.HiddenFor(x => x.ReturnUrl)
                                }
                                <a href="javascript:void()" id="LinkId_@line.Product.ProductID" data-val-prodid="@line.Product.ProductID"><span class="glyphicon glyphicon-remove"></span></a>                                
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right"><p class="text-right"><strong>Total:</strong></p></td>
                        <td class="text-center"><strong>@Model.Cart.ComputeTotalValue().ToString("c")</strong></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
            <div class="text-right">
                <a href="@Model.ReturnUrl"><span class="glyphicon glyphicon-arrow-left"></span> Continue shopping</a>
                <a href="@Url.Action("Checkout")" class="btn btn-primary btn-lg">Go to the checkout</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/site")
}